
            
body{
    background-color: black;
    text-align: center;
    height: 400px;
}

.page{
    background-color: blue;
    border: 5px solid white;
    color: lime;
}

.cookies{
    background-color: black;
    border-width: 1px;
}
    
.btn{
    border-radius: 10px;
    color: rgb(14, 219, 42);
}



